
.flex-container {
  display: flex;
  background-color: #F0FFFF;
  height: 100px;
  
}

.gallery {
  align-self: center;
  font-size: 30px;
  width: 60%;
  padding-left: 40px;
}

.flex-container .fluid {
  background-color: #F0FFFF;
  text-align: center;
  width : 150px;
  line-height: 100px;
  text-decoration: none;
  color: black;
  }

  .fluid1-hover:hover, .fluid1-hover:focus {
    background-color: #4169E1;
    color: white
  }

  .fluid2-hover:hover, .fluid2-hover:focus {
    background-color: #FF6347;
    color: white
  }

  .fluid3-hover:hover, .fluid3-hover:focus {
    background-color: #FFD700;
    color: white
  }

  .column-hover:hover, .column-hover:focus {
    background-color: #EE82EE;
    color: white
  }

  .message-hover:hover, .message-hover:focus {
    background-color: #4169E1;
    color: white
  }

  .flex-image {
    display: flex;
    flex-wrap: wrap;
  }

  .image {
    position: relative;
    width: 288px;
    height: 288px;
  }

  .image-title {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color: black;
    color: white;
    opacity: 0;
    transition: opacity 0.5s
  }

  .image:hover {
    cursor: pointer;
  }

  .image:hover .image-title {
    visibility: visible;
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }

  .image:hover .text {
    text-align: center;
    padding: 0px 10px 0px 10px
  }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #FA8072;
}

.columns {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.container-bg {
  background-color: #90EE90;
}

.modal-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-dec, .modal-inc {
  cursor: pointer
}

  
